SSH_KEY_NAME=eden
SSH_KEY=<public ssh key>

CGIT_ROOT_TITLE=cgit-gitolite repository browser
CGIT_DESC=Demonstration of a more advanced git server with multiple users
CGIT_CLONE_PREFIX=http://cgit.eda.gay ssh://git@cgit.eda.gay
